<h1>{{$parent.settings.pageTitle}}</h1>

<p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>

<div class="required-field-block">
	<input type="text" placeholder="person_id" ng-model="logger.person_id" class="form.control">
	<div class="required-icon">
		<div class="text">*</div>
	</div>
</div>

<div class="required-field-block">
	<input type="text" placeholder="user_id" ng-model="logger.user_id" class="form.control">
	<div class="required-icon">
		<div class="text">*</div>
	</div>
</div>

<div class="required-field-block">
	<textarea rows="6" class="form-control" ng-model="logger.newvalue" placeholder="newvalue">
	<div class="required-icon">
		<div class="text">*</div>
	</div>
</div>

<button class="btn btn-primary" ng-click="submit($parent.logger)">{{$parent.settings.action}}</button>
